@model List<DealBreaker.Entities.Auction>
@{
    ViewBag.Title = "Listing";
}

<h2>Listing</h2>

<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Actual Amount</th>
            <th>Starting Time</th>
            <th>Ending Time</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var auction in Model)
        {
        <tr>
            <td>@auction.Title</td>
            <td>@auction.Description</td>
            <td>@auction.ActualAmount</td>
            <td>@auction.StratingTime</td>
            <td>@auction.EndingTime</td>
            <td>
                <button class="editButton btn btn-info" data-id="@auction.Id" >Edit</button>
                <button class="deleteButton btn btn-danger" data-id="@auction.Id">Delete</button>
            </td>
        </tr>   
        }
    </tbody>
</table>

<script>
    $(".editButton").click(function () {
        $.ajax({
            url: "@Url.Action("Edit","Auctions")",
            type: "get",
            data: {
                Id: $(this).attr("data-id")
            }
        })
            .done(function (response) {
                $("#contentArea").html(response);
            })
    })

    $(".deleteButton").click(function () {
         var result = confirm("Are you sure to delete?")
        if (result == true) {
            $.ajax({
                url: "@Url.Action("Delete","Auctions")",
                method: "post",
                data: {
                    ID: $(this).attr("data-id")
                }
            })
                .done(function (response) {
                    $("#listingArea").html(response);
                })
        }
    })
</script>
